
ToDoList.xcodeproj/xcuserdata/user217621.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Shared/Assets.xcassets/AppIcon.appiconset/Contents.json

ToDoList.xcodeproj/xcuserdata/user217621.xcuserdatad/xcschemes/xcschememanagement.plist
